In [1]:
import lib as l

In [2]:
topics_df = l.pd.read_csv("topics.csv")
topics_df["topic_id"] = topics_df.apply(lambda row: row["lang"] + "_" + str(row["timespan"]) + "_" + l.U.to_list(row)[0], axis=1)
topics_df

,id,lang,timespan,keyword,topics,topic_id
0,fr_telephone_1870_0,fr,1870,telephone,"['police', 'hier', 'trouver', 'long', 'force',...",fr_1870_police
1,fr_telephone_1870_1,fr,1870,telephone,"['mlle', 'course', 'prix', 'gagne', 'theâtre',...",fr_1870_mlle
2,fr_telephone_1870_2,fr,1870,telephone,"['louer', 'Concert', 'notaire', 'ench', 'soir'...",fr_1870_louer
3,fr_telephone_1870_3,fr,1870,telephone,"['terme', 'Credit', 'fonciere', 'ternie', 'alg...",fr_1870_terme
4,fr_telephone_1870_4,fr,1870,telephone,"['fonciere', 'serie', 'obligation', 'ottoman',...",fr_1870_fonciere
...,...,...,...,...,...,...
120,eng_telephone_1900_9,eng,1900,telephone,"['Floor', 'size', 'inch', 'silk', 'blue', 'pie...",eng_1900_Floor
121,eng_telephone_1900_10,eng,1900,telephone,"['till', 'anil', 'January', 'light', 'winter',...",eng_1900_till
122,eng_telephone_1900_11,eng,1900,telephone,"['police', 'tell', 'yesterday', 'woman', 'stre...",eng_1900_police
123,eng_telephone_1900_12,eng,1900,telephone,"['reward', 'Funeral', 'funeral', 'Miss', 'belo...",eng_1900_reward
124,eng_telephone_1900_13,eng,1900,telephone,"['Senator', 'Government', 'President', 'States...",eng_1900_Senator